/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  background: #EEE;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.3333333333em; /* 24/18 = 1.3333333333 */
  padding: 1em; /* 18 / 18 = 1 */
}

h1 {
  font-size: 1.5em; /* 27 / 18 = 1.5 */
  line-height: 1.333333333em; /* 36 / 27 = 1.333333333 */
}

fieldset[aria-hidden="true"] {
  display: none;
}

#ship-form-list {
  padding-left: 0.666666667em; /* 12 / 18 = 0.666666667 */
  padding-top: 0.5em; /* 9 / 18 = .5 */
}

#ship-form-list li {
  padding-top: 0.166666667em; /* 3 / 18 = 0.166666667 */
  padding-bottom: 0.166666667em; /* 3 / 18 = 0.166666667 */
}

#payment-form-list {
  padding-left: 0.666666667em; /* 12 / 18 = 0.666666667 */
  padding-top: 0.5em; /* 9 / 18 = .5 */
}

#payment-form-list li {
  padding-top: 0.166666667em; /* 3 / 18 = 0.166666667 */
  padding-bottom: 0.166666667em; /* 3 / 18 = 0.166666667 */
}

#payment-address-list {
  padding-left: 0.666666667em; /* 12 / 18 = 0.666666667 */
}

#cart-start {
  padding-left: 1.333333333em; /* 24 / 18 = 1.333333333 */
}
#cart-start li {
  list-style: circle;
}

#cart-submit {
  background: #DDD;
  text-decoration: none;
  color: #111;
  display: block;
  margin: 0.5em; /* 9 / 18 = .5 */
  line-height: 0;
  padding: 1.2em; /* 18 / 15 = 1.2 */
}

#address-submit {
  background: #DDD;
  border: none;
  display: block;
  font-size: inherit;
  font-family: inherit;
  line-height: 0;
  margin: 0.5em; /* 9 / 18 = .5 */
  margin-top: 0.666666667em; /* 12 / 18 = 0.666666667 */
  padding: 1.2em; /* 18 / 15 = 1.2 */
  width: 98%;
  text-align: left;
}

#pay-submit {
  background: #DDD;
  border: none;
  display: block;
  font-size: inherit;
  font-family: inherit;
  line-height: 0;
  margin: 0.5em; /* 9 / 18 = .5 */
  margin-top: 0.666666667em; /* 12 / 18 = 0.666666667 */
  padding: 1.2em; /* 18 / 15 = 1.2 */
  width: 98%;
  text-align: left;
}

#city {
  border: none;
  background: #DDD;
  font-family: inherit;
}

#cart-summary {
  padding-top: 0.666666667em; /* 12 / 18 = 0.666666667 */
}
#cart-end {
  padding-left: 0.5em; /* 9 / 18 = .5 */
  padding-top: 0.333333333em; /* 6 / 18 = 0.333333333 */
}

#different {
  padding-left: 0.5em; /* 9 / 18 = .5 */
}

#different li {
  padding-top: 0.166666667em; /* 3 / 18 = 0.166666667 */
}

/* 900 / 16 = 56.25 */
@media screen and (min-width: 56.25em) {
  #cart-start li {
    text-align: center;
  }
  #cart-submit {
    text-align: center;
  }
  #main-header {
    padding-left: 2em; /* 36 / 18 = 2 */
  }

  #ship-form-list {
    padding-left: 5.333333333; /* 96 / 18 = 5.333333333 */
  }
  #ship-header {
    padding-left: 2em; /* 36 / 18 = 2 */
  }
}
#pay-submit:hover,
#pay-submit:active,
#pay-submit:focus,
#cart-submit:hover,
#cart-submit:active,
#cart-submit:focus,
#address-submit:hover,
#address-submit:active,
#address-submit:focus,
#city:hover,
#city:active,
#city:focus {
  background-color: #CCC;
}
